{% extends "base.html" %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    社内用SNS
  </div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル：</p>
        <P>投稿者：</P>
        <button type="button" class="btn btn-primary btn-sm">いいね♡</button>
        <button type="button" class="btn btn-secondary btn-sm">既読</button>
    </div>
</div>
{% endblock content%}


